:root {
    /* Global Variables */
    --nciBackground: #3498db;
    --nciSpecial: #d0fa69;
    --chSpecial: #99c93e;
    --mainText: white;
    --tableWidth: 60vw;
    --boxShadow: 2px 2px 5px 0px rgba(255,255,255,1);
    --textShadow: 2px 2px 2px rgba(181, 239, 73, 0.73);
    
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header_image {
    text-align: center;
}

img.header_logo {
    width: 40%;
}

body {
    display: flex;
}

h1 {
    color: var(--mainText);
    text-align: center;
    width: var(--tableWidth);
    text-shadow: var(--textShadow);
}

p {
    color: var(--mainText);
}

table {
    background-color: var(--chSpecial);
    border-radius: 0.5rem;
    width: var(--tableWidth);
    margin-bottom: 30px;
    box-shadow: var(--boxShadow)
}

table th {
    color: black;
    font-size: 1.2rem;
}

table td {
    color: var(--mainText)
}

.team_times,
.live_schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team_table th,
.team_table td {
    padding: 10px
}

.team_table th:nth-child(1) {
    text-align: left;
}

.member {
    font-weight: bold;
    transform: translateX(10px);
}

.local_time {
    text-align: center;
}

.nutrition_l1_table,
.nutrition_l2_table,
.business_mastery_table {
    text-align: center;
    padding: 10px;
}

.nutrition_l1_table td,
.nutrition_l2_table td,
.business_mastery_table td,
.team_table td {
    font-size: 1.5rem;
}

.weekday_title {
    font-weight: 400;
}

.schedule_heading {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.timezone_selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.timezone_selector label {
    color: var(--mainText);
    margin-bottom: 10px;
}

select {
    font-family: "Montserrat", sans-serif;
    background-color: var(--chSpecial);
    text-align: center;
    font-weight: bold;
    height: 30px;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

@media only screen and (max-width: 750px) {
    table, h1 {
        width: 80vw;
    }
}

@media only screen and (max-width: 470px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .nutrition_l1_table td,
    .nutrition_l2_table td,
    .business_mastery_table td,
    .team_table td {
        font-size: 1rem;
    }

    table th,
    .schedule_heading {
        font-size: 1.2rem;
    }
}