:root {
    /* Global Variables */
    --nciBackground: #3498db;
    --nciSpecial: #d0fa69;
    --chSpecial: #99c93e;
    --mainText: white;
    --tableWidth: 60vw;
    --boxShadow: 2px 2px 5px 0px rgba(255,255,255,1);
    --textShadow: 2px 2px 2px rgba(181, 239, 73, 0.73);
    
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: black;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

/* Header layout */
header {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 20px;
    position: relative;
    background-color: black;
    position: relative;
    z-index: 3;
}

/* Header grid to align hamburger and logo */
.header-grid {
    display: contents;
}

/* Hamburger menu icon - always visible */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-self: start; /* Align to the start of the first column */
    transform: scale(0.75);
    z-index: 3;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: var(--mainText);
    margin: 4px 0;
}

/* Center header logo */
.header_image {
    grid-column: 2;
    justify-self: center;
    text-align: center;
    margin-top: 20px;
}

img.header_logo {
    width: 50%;
    margin-bottom: 20px;
}

/* Navigation Menu - Hidden by default */
.nav-menu {
    opacity: 0; /* Hidden initially */
    visibility: hidden; /* Makes sure it's not clickable */
    height: 0; /* Zero height to collapse the menu */
    overflow: hidden; /* Prevents overflow */
    flex-direction: column;
    align-items: center;
    background-color: var(--nciBackground);
    position: absolute;
    top: 120px; /* Adjusted to be below the header */
    left: 0;
    width: 100%;
    padding: 0; /* No padding initially */
    z-index: 100; /* Make sure the menu appears on top */
    transition: all 0.5s ease; /* Smooth transition for height, opacity, and padding */
    z-index: 3;
}

/* Navigation menu items */
.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav-menu li {
    margin: 10px 0;
    text-align: center;
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    color: var(--mainText);
    font-size: 1.5rem;

}

/* Show the nav menu when the "show" class is added */
.nav-menu.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Makes it interactable */
    height: auto; /* Set height to auto to show content */
    padding: 10px 0; /* Restore padding to make the menu look correct */
}


body {
    display: flex;
    background-image: url(../static/images/nut-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.715);
    z-index: 1;
}

h1 {
    color: var(--mainText);
    text-align: center;
    width: var(--tableWidth);
    text-shadow: var(--textShadow);
    margin: 50px 0 30px 0;
}

p {
    color: var(--mainText);
}

table {
    background-color: black;
    border-radius: 0.5rem;
    width: var(--tableWidth);
    margin-bottom: 30px;
    box-shadow: var(--boxShadow);
    max-width: 660px;
}

table th {
    color: var(--mainText);
    font-size: 1.2rem;
}

table td {
    color: var(--mainText)
}

.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    width: 100%; /* Make it responsive */
    max-width: 1200px; /* Set a max-width to control the size */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    position: relative;
    z-index: 2;
}

[class*="block"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 30px;
    color: var(--chSpecial);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    box-shadow: var(--boxShadow);
}

[class*="block"] img {
    width: 225px;
    height: 225px;
    border-radius: 5px;

}

[class*="block"] a {
    text-decoration: none;
    color: var(--mainText)
}

button {
    font-family: inherit;
}

[class*="block"] button {
    width: 250px;
    height: 150px;
    background-color: var(--chSpecial);
    border: 1px solid var(--chSpecial);
    border-radius: 10px;
    color: var(--mainText);
    font-size: 1.6rem;
    font-weight: bold;
}

[class*="block"] button:hover {
    background-color: var(--nciBackground);
    border: 1px solid var(--nciSpecial);
    cursor: pointer;
}

[class*="block"] button:active {
    color: var(--nciSpecial);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    min-height: 100px;
    color: rgba(211, 211, 211, 0.62);
    background-color: black;
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 750px) {
    table, h1 {
        width: 80vw;
    }
}

@media only screen and (max-width: 470px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 560px) {
    header {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header_image {
        margin-bottom: 10px; /* Add some space below the logo */
    }

    .hamburger-menu {
        order: 1; /* Move it to come after the header image */
        margin-top: 10px;
        align-items: center; /* Center the hamburger icon */
    }

    .nav-menu a {
        font-size: 1.2rem;
    }

    .nav-menu {
        top: 170px;
    }

    .feature-container {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    .feature-container {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        width: 300px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid var(--mainText)
    }

    .nav-menu li {
        text-align: left;
        transform: translateX(20px);
    }

    .body-container {
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }

    .feature-container {
        width: 100%; /* Ensure it takes full width up to max-width */
        max-width: 1200px; /* Keeps it centered within this max-width */
        margin-left: auto;
        margin-right: auto;
    }

}