<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>NCI Team and Course Information</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<main>
    <div class="body_container">
        <header>
            <div class="header_image">
                <img class="header_logo" src="../static/images/NCI-Logo-Landscape.png" alt="NCI header logo">
            </div>
        </header>
        <body>   
            <div class="feature-container">
                <div class="team-block">
                    <a href="{{ url_for('team') }}"><img src="../static/images/team-image.png" alt="Women at beachside bar with beers in bikinis"></a>
                </div>
                <div class="schedule-block">
                    <a href="{{ url_for('schedules') }}"><img src="../static/images/schedule-image.png" alt="Woman playing eletric guitar on the beach"></a>
                </div>
                <div class="performance-block">
                    <a href="{{ url_for('performance') }}"><img src="../static/images/performance-image.png" alt="Woman at beach sitting on motorcycle"></a>
                </div>
            </div>
        </body>
    </div>  
    <footer>
        <ul>
            <li><a href="{{ url_for('performance') }}">Course Performance Page</a></li>
            <li><a href="{{ url_for('team') }}">Team Local Times</a></li>
            <li><a href="{{ url_for('schedules') }}">Live Q&A Schedules</a></li>
        </ul>
    </footer>
</main>
</html>
