<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/team-styles.css">
    <link rel="icon" href="../static/images/chflavicon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.1/luxon.min.js"></script>
    <title>NCI Team and Course Information</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<main>
    <div class="body_container">
        <header>
            <div class="header-grid">
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="header_image">
                    <img class="header_logo" src="../static/images/NCI-Logo-Landscape.png" alt="NCI header logo">
                </div>
            </div>
            <nav class="nav-menu" id="nav-menu">
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('performance') }}">Course Performance</a></li>
                    <li><a href="{{ url_for('schedules') }}">Live Q&A Schedules</a></li>
                    <li><a href="{{ url_for('team') }}">Team Local Times</a></li>
                </ul>
            </nav>
        </header>
        <body>     
            <div class="team_times">
                <h1>Local Team Times</h1>
                <table class="team_table">
                    <thead>
                        <tr>
                            <th>Team Member</th>
                            <th>Local Time & Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in people_times %}
                        <tr>
                            <td class="member">{{ person.name }}</td>
                            <td class="local_time">{{ person.current_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Trigger the change event to set initial time conversion
                    let timezoneSelect = document.getElementById('timezone');
                    if (timezoneSelect.value) {
                        timezoneSelect.dispatchEvent(new Event('change'));
                    }
                });
            </script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const hamburgerMenu = document.getElementById('hamburger-menu');
                    const navMenu = document.getElementById('nav-menu');
            
                    hamburgerMenu.addEventListener('click', function () {
                        navMenu.classList.toggle('show');
                    });
                });
            </script>
        </body>
    </div>  
    <footer>
        Appsy 🤓 © 2024
    </footer>
</main>
</html>
